.main{
  min-height: 100vh;
  padding: 2rem 0;
}

.productList img{
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 0 !important;
}

.mdlAddTitle {
  color: white !important;
}

.mdlAddTitle:hover {
  color: black !important;
}